@import url('https://fonts.googleapis.com/css?family=Syncopate|Unica+One');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body, html { 
	overflow-y: hidden;
	background-color: transparent !important;
	display: none;
}

.left {
	width: 400px;
	height: auto;
	float: left;
	overflow-y: auto;
	padding-left: 50px;
	/*background-color: #f1f1f1;*/
	text-align: left;
}

.right {
	width: 400px;
	height: auto;
	float: right;
	overflow-y: auto;
	padding-left: 50px;
	/*background-color: #f1f1f1;*/
	text-align: center;
}

.center {
	width: 750px;
	height: 400px;
	overflow-y: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	/*background-color: #f1f1f1;*/
	text-align: center;
}


/* main.css */
.right-color { 
	position: absolute;
	top: 0px;
	left: 70px;
	background: rgb(40, 40, 40);
	height: auto;
	width: 860px;
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	z-index:5;
	padding: 5px 5px 5px 5px;
}
.spacer{
    height: 8%;
}
.spacer2{
	display:absolute;
    top: -40px;
	left: -150px;
	width: 900px;
	height:400px;
	overflow-y: auto;
	word-break: break-word;
}
table{
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 50px 0;
	overflow-y: auto;
}
tbody {
	overflow-y: auto;
	display: block;
	height: 710px;
	width: 848px;
	text-align: center;
 }
.main-gui {
	font-family: 'Roboto', sans-serif;
	height: 977px;
	width: 1000px;	
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -300px;
	margin-left: 0px;
	padding-bottom: 20px;
	display: none;
	z-index:1;
	background-image: url(tablet.png);
	background-repeat: no-repeat;
	background-size: 1000px 977px;
}
.bckgrnd{
	background: rgb(40, 40, 40);
	position: absolute;
	border-radius: 50px 5px 5px 5px;
}

#close {
	display: inline-block;
	float: none;
	padding: 5px;
	padding-right: 10px;
	color: rgb(255, 0, 0);
}
.tablet{
	z-index:2;
	display: block;
	position: absolute;
	top:-50px;
	left:-50px;
}



/* change look of buttons when hovering over them */
button:hover {
	background-color: #c7dbfc;
}

/* Hide the sub-menus */
div.police_actions, div.inv, div.voice {
	display: none;
}

.custom {
    width: 150px !important;
}

.sidenav {
    height: 800px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 17%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top: 17px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 20px;}
  .sidenav a {font-size: 18px;}
}